.hero {
  background: url(./images/backgroud_top2.png);
  color: #f2f2f2;
  position: absolute;
  width: 1348px;
  height: 700px;
  left: 0px;
  top: 0px;
  background-size: cover;
}

.s {
  position: absolute;
  width: 38px;
  height: 89px;
  left: 0px;
  top: 0px;

  background: #ffb307;
}

.title {
  position: absolute;
  width: 641.87px;
  height: 133px;
  left: 56px;
  top: 228px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 57.8261px;
  line-height: 66px;

  color: #ffffff;
}

.lorem {
  position: absolute;
  width: 491px;
  height: 46px;
  left: 56px;
  top: 376px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

.private {
  position: absolute;
  width: 247px;
  height: 233px;
  background: #000000;
  top: 70px;
  right: 90px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.private-p {
  position: absolute;
  top: 90px;
  left: 20px;
  right: 79px;
  bottom: 79px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;

  color: #ffb307;
}

.time {
  width: 97px;
  height: 23px;
  position: absolute;
  top: 164px;
  right: 130px;
  left: 20px;
  bottom: 46px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #099dfb;
}

.vector-img {
  position: absolute;
  width: 48px;
  height: 32px;
  left: 8.09%;
  right: 72.49%;
  top: 13.29%;
  bottom: 72.98%;
}

.vector-circle {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 37px;
  top: 19px;
}

.vector-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 17px;
  height: 13px;
  padding: 20px;
  background: #099dfb;
}

.ellipse-dot-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 56px;
  bottom: 75px;
}

.ellipse-dot {
  width: 11px;
  height: 11px;
  margin-right: 10px;
}

.travel {
  position: absolute;
  width: 1348px;
  height: 700px;
  left: 0px;
  top: 700px;
  /* text-align: center; */
  background: #f2f6f9;
}

.travel-tittle {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  /* identical to box height */
}

.travel-p {
  /* width: 462px; */
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.travel-card {
  width: 273.84px;
  height: 170.62px;
}

.travel-card-container {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}

#travel-img {
  width: 275px;
  height: 170px;
}

.Vector-Image3 {
  position: absolute;
    
}

#travel-card-title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.card-vector {
  position: absolute;
  bottom: 180px;
  height: 17px;
  left: 2px;
  right: 53px;
  display: flex;
  padding-top: 11px;
  margin-left: 310px;
}

#travel-card-price {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 25;
  line-height: 30px;
  color: #099dfb;
}

.card-time {
  bottom: 164px;
  left: 2px;
  right: 53px;
  display: flex;
  padding-top: 11px;
  margin-left: 310px;

  position: absolute;
  width: 40.95px;
  height: 17.91px;
  left: 24.74px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 15.3555px;
  line-height: 18px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.4);
}

.star-rate {
  width: 14px;
  height: 14px;
}

/* .card {
  position: absolute;
  width: Hug (901.52px);
  height: Hug (377.92px);
  top: 985px;
  left: 125px;
  gap: 40px;
} */

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 26px;
  gap: 10px;
  border-radius: 10px;
  border: #000000;
  position: absolute;
  width: 131px;
  height: 56px;
  left: 700px;
  right: 45px;
  top: 600px;
  color: #f2f2f2;
  background: #099dfb;
}

/* .boat {
  position: absolute;
  width: 1152px;
  height: 700px;
  left: 0px;
  top: 700px;
  background: #f2f6f9;
} */

.searching {
  position: absolute;
  width: 451px;
  height: 46px;
  left: 480px;
  top: 43px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* identical to box height */
}

.lorem1 {
  position: absolute;
  width: 462px;
  height: 46px;
  left: 480px;
  top: 143px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #000000;
}

.boat-card {
  position: absolute;
  width: 247px;
  height: 350px;
  left: 98px;
  right: 809px;
  bottom: 246px;
  top: 298px;
  background: #e5e5e5;
}

.boat-p {
  position: absolute;
  top: 90px;
  left: 20px;
  right: 79px;
  bottom: 79px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.boat-img {
  position: absolute;
  height: 48px;
  width: 32px;
  bottom: 287px;
  left: 20px;
  right: 179px;
  top: 31px;

  bottom: 75.54%;
}

.card-hrs {
  width: 97px;
  height: 23px;
  position: absolute;
  top: 164px;
  right: 130px;
  left: 20px;
  bottom: 46px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #099dfb;
}

.card-lorem {
  position: absolute;
  width: 180px;
  left: 20px;
  height: 51px;
  top: 200px;
  bottom: 46px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
}

.boat-image1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 17px;
  height: 13px;
  padding: 20px;
  background: #717475;
}

.boat-circle {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 37px;
  top: 19px;
}


