
  .hero {
  background: url(./images/backgroud_top2.png);
  color: #f2f2f2;
  position: absolute;
  width: 1348px;
  height: 700px;
  left: 0px;
  top: 0px;
  background-size: cover;


.s {
  position: absolute;
  width: 38px;
  height: 89px;
  left: 0px;
  top: 0px;

  background: #ffb307;
}

.title {
  position: absolute;
  width: 641.87px;
  height: 133px;
  left: 56px;
  top: 228px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 57.8261px;
  line-height: 66px;

  color: #ffffff;
}

.lorem {
  position: absolute;
  width: 491px;
  height: 46px;
  left: 56px;
  top: 376px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

.private {
  position: absolute;
  width: 247px;
  height: 233px;
  background: #000000;
  top: 70px;
  right: 90px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.private-p {
  position: absolute;
  top: 90px;
  left: 20px;
  right: 79px;
  bottom: 79px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;

  color: #ffb307;
}

.time {
  width: 97px;
  height: 23px;
  position: absolute;
  top: 164px;
  right: 130px;
  left: 20px;
  bottom: 46px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #099dfb;
}

.vector-img {
  position: absolute;
  width: 48px;
  height: 32px;
  left: 8.09%;
  right: 72.49%;
  top: 13.29%;
  bottom: 72.98%;
}

.vector-circle {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 37px;
  top: 19px;
}

.vector-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 17px;
  height: 13px;
  padding: 20px;
  background: #099dfb;
}

.ellipse-dot-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 56px;
  bottom: 75px;
}

.ellipse-dot {
  width: 11px;
  height: 11px;
  margin-right: 10px;
}

.travel {
  position: absolute;
  width: 1348px;
  height: 700px;
  left: 0px;
  top: 700px;
  background: #f2f6f9;
}

.boat-section {
  position: absolute;
  width: 1348px;
  top: 1300px;
  background: #ffffff;
}

.travel-tittle {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  /* identical to box height */
}

.travel-p {
  /* width: 462px; */
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.travel-card {
  width: 273.84px;
  height: 170.62px;
}

.travel-card-container {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}

.boat-card-container {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}

#travel-img {
  width: 275px;
  height: 170px;
}

.Vector-Image3 {
  position: absolute;
  margin-top: 30px;
  width: 17px;
  padding: 20px;
  background: #1784a8;
}

#travel-card-title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.card-vector {
  position: absolute;
  bottom: 180px;
  height: 17px;
  left: 2px;
  right: 53px;
  display: flex;
  padding-top: 11px;
  margin-left: 310px;
}

#travel-card-price {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 25;
  line-height: 30px;
  color: #099dfb;
}

.card-time {
  bottom: 164px;
  left: 2px;
  right: 53px;
  display: flex;
  padding-top: 11px;
  margin-left: 310px;

  position: absolute;
  width: 40.95px;
  height: 17.91px;
  left: 24.74px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 15.3555px;
  line-height: 18px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.4);
}

.star-rate {
  width: 14px;
  position: absolute;
  margin-left: 20px;
  margin-bottom: 10px;
  height: 14px;
}

.searching {
  position: absolute;
  width: 451px;
  height: 46px;
  left: 480px;
  top: 43px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* identical to box height */
}

.lorem1 {
  position: absolute;
  width: 462px;
  height: 46px;
  left: 480px;
  top: 143px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #000000;
}

#boat-card {
  width: 247px;
  /* height: 350px; */
  background: #e5e5e5;
}

#boat-title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 10px;
  line-height: 32px;
  padding-left: 20px;
}

#boat-img {
  position: absolute;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 15px;
  height: 48px;
  width: 32px;
}

#boat-card-time {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding-left: 20px;
  color: #099dfb;
}

#boat-card-desc {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 20px;
  line-height: 17px;
}

#boat-card-image {
  width: 17px;
  padding: 20px;
  background: #717475;
}

#boat-card-circle {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  width: 35px;
  height: 35px;
  left: 37px;
  top: 19px;
}

/* .btn-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 26px;
  gap: 10px;

  position: absolute;
  width: 234px;
  justify-content: center;
  height: 56px;
  right: 675px;
  left: 459px;
  top: 630px;

  background: #099dfb;
} */

#more-btn {
  background-color: #099dfb;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  position: absolute;
  bottom: -82px;
  border-radius: 14px;
  text-indent: 12px;
  padding: -2px;
  border-color: #099dfb;
  /* margin-bottom: 55px; */
  left: 553px;

  color: #ffffff;
}

/* .signUp{
  position: absolute;
  width: 1348px;
  height: 700px;
  left: 0px;
  top: 700px;
  background: #f2f6f9;
  
}  */

.signUp-title {
  position: absolute;
  padding-top: 149px;
  padding-left: 52px;
  width: 358px;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  color: #ffff;
  background-size: cover;
}

.signUp-background {
  position: absolute;
  width: 1348px;
  height: 470px;
  left: 0px;
  top: 2095px;
  background-size: cover;
  background-image: url(./images/background_top.png);
}

.news-signup {
  position: absolute;
  width: 1207px;
  height: 326px;
  left: -2px;
  top: 2487px;
  background: #f5f3f3;
}

.news-letter {
  position: absolute;
  width: 327px;
  height: 34px;
  left: 400px;
  top: 70px;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 30px;
}

.signup-lorem {
  position: absolute;
  width: 462px;
  left: 338px;
  top: 114px;
  font-size: 20px;
}

.email {
  position: absolute;
  width: 490px;
  height: 50px;
  left: 175px;
  top: 179px;
}

#submit-btn {
  padding: 9px 26px;
  position: absolute;
  width: 146px;
  height: 56.5px;
  left: 672px;
  top: 179px;
  background-color: #099dfb;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #ffffff;
  border-radius: 2px;
}

.palmTree-img {
  position: absolute;
  width: 121.54px;
  height: 156px;
  left: 1080.28px;
  top: 157.94px;
  transform: rotate(16.28deg);
}

.logo-section {
  /* position: absolute; */
  width: 1154px;
  height: 624px;
  left: 0px;
  top: 2931px;
  background: #0f74c2;
}

.patner {
  position: absolute;
  width: 230px;
  height: 46px;
  left: 530px;
  top: 2880px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

.addidas-img {
  position: absolute;
  width: 150px;
  height: 97.5px;
  left: 400px;
  top: 2991px;
}

.puma-img {
  position: absolute;
  width: 163.21px;
  height: 97px;
  left: 700px;
  top: 2991px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin-left: 26px;
  justify-content: center;
}

.Mombasa-logo {
  position: absolute;
  width: 254px;
  height: 138px;
  left: 90px;
  top: 3234px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
}

.quickLink {
  position: absolute;
  width: 160px;
  height: 34px;
  left: 532px;
  top: 3234px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;

  color: #099dfb;
}

.explore {
  width: 157px;
  height: 23px;
  list-style: none;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.photo {
  width: 120px;
  height: 23px;
  list-style: none;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.social-media {
  position: absolute;
  width: 166px;
  height: 34px;
  left: 982px;
  top: 3234px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.phone {
  position: absolute;
  height: 33px;
  width: 33px;
  top: 1px;
  border-radius: 0px;
  left: 0%;
  right: 80.52%;
  top: 2.15%;
  bottom: 289px;
}

.phone-number {
  width: 157px;
  height: 23px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffb307;
}

.linkedin {
  width: 20.01px;
  height: 20.01px;
  top: 76px;
}

.facebook {
  position: absolute;
  width: 20.01px;
  height: 20.01px;
  left: 68px;
  right: 60px;
  top: 76px;
}

.insta {
  position: absolute;
  left: 91px;
  right: 71px;
  top: 72px;
}

.gmail {
  width: 25.01px;
  height: 20.01px;
  
  
}

.twitter {
  width: 20px;
  height: 20px;
}

.social1{
  background-color: #099dfb;
}
}
